.jumbotron {
    background-color: #fcee47;
    color: #603a16;
    padding-top: 2.5%;
    padding-bottom: 0.1%;
}

footer {
    padding: 10px 10px 10px 10px;
    margin-bottom: 0px;
    margin-top: 10px;
    background-color: #603a16;
}

address {
    text-align: center;
    color: #fcee47;
}

.container {
    background-color: transparent;
}

.blockquote-footer {
    color: #fcee47;
}

body {
    background-image: url(../img/fondo.jpg);
}

.card {
    background-color: #fcee47;
    color: #c50a00;
    border-color: #603a16;
}

.btn {
    background-color: #603a16;
    color: #fcee47;
    align-content: center;
}
